doctype html
html(lang="en")
  head
    title= title
    meta(name="description", content="")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    meta(content="text/html; charset=utf-8", http-equiv="Content-type")
    meta(name="HandheldFriendly", content="true")
    meta(name="apple-mobile-web-app-capable", content="yes")
    meta(name="msapplication-TileColor", content="#ffffff")
    meta(name="msapplication-TileImage", content="http://alleyooop.info/images/favicon.png")
    meta(property='og:image', content='http://alleyooop.info/images/favicon.png')
    meta(name='twitter:image', content='http://alleyooop.info/images/favicon.png')
    link(rel='shortcut icon', href="http://alleyooop.info/images/favicon.png")
    style.
        body {
        -webkit-font-smoothing: antialiased; -webkit-text-size-adjust: none; width: 100% !important; height: 100%; line-height: 1.6;
          font-family: Helvetica;
          background-color: #ffffff;
          max-width: 600px;
          margin:0 auto;
          font-size: 16px;
        }
        img {
        max-width: 100%;
        }
        a{
          text-decoration: none;
        }
        table{
          border-collapse: collapse;
        }
        .title-row{

        }
        .title-row h1{
          margin: 0 0;
        }
        .title-row td{
          border-bottom:1px solid #ddd;
        }
        .title-row .shot-td-img{
          text-align: left;
        }
        .title-dates{
          color: #aaa;
        }
        .shot-row{

        }
        .shot-row:nth-child(even){
          background: #f9fafc;
        }
        .shot-td-author{
          width: 10%;
          text-align: center;
        }
        .shot-a-author{
          display: block;
        }
        .shot-author-img{
          border-radius: 50%;
          max-width: 30px;
        }
        .shot-a-dribbble{
          display: block;
        }
        .shot-dribbble-img{
          max-width: 20px;
        }
        .shot-twitter-img{
          max-width: 16px;
        }
        .shot-td-img{
          width: 40%;
          padding: 20px;
          text-align: center;
        }
        .shot-a-img{}
        .shot-img{}
        .shot-td-det{}
        .shot-title{
          display: block;
          color: #555;
          font-weight:700; 
        }
        .shot-author{
          font-weight: 700;
          display: block;
          color: #2497EE;
          font-size: 0.9em;
        }
        .shot-divvy{
          width: 25%;
          margin: 10px 75% 10px 0;
        }
        .shot-views{
          font-size: 0.8em;
          color: #aaa;
        }
        .shot-likes{
          color: #aaa;
          font-size: 0.8em;
          height: 20px;
          overflow: hidden;
          overflow-y: hidden;
        }
        .shot-date{
          color: #FF5996;
          font-size: 0.7em;
          font-weight: 700;
        }
        .shot-views-icon{
          margin-right: 5px;
          width: 15px;
        }
        .shot-likes-icon{
          margin: 4px 5px 0 1px;
          width: 12px;
          vertical-align: top;
        }



        @media only screen and (max-width: 640px) {
          body{
            font-size: 13px;
          }
          .shot-author-img{
            max-width: 25px;
          }
        }
  body
    table
        tr.title-row
            td.shot-td-author
                img(src="http://alleyooop.info/favicon.png").shot-author-img
            td.shot-td-img
                h1 Alleyooop
            td.shot-td-det
                div.title-dates This #{dates}
                div.shot-date #{(new Date()).toLocaleDateString()}
        for shot in shots
            tr.shot-row
                td.shot-td-author
                    a.shot-a-author(href="#{shot.user.links.web}")
                        img(src="#{shot.user.avatar_url}").shot-author-img
                    a.shot-a-dribbble(href="#{shot.user.html_url}")
                        img(src="http://alleyooop.info/dribbble-ball.png").shot-dribbble-img
                    if shot.user.links.twitter
                        a.shot-a-dribbble(href="#{shot.user.links.twitter}")
                            img(src="https://g.twimg.com/Twitter_logo_blue.png").shot-twitter-img
                td(style="").shot-td-img
                    a(href="#{shot.html_url}").shot-a-img
                        img(src="#{shot.images.normal}", style="").shot-img
                td.shot-td-det
                    a.shot-title(href="#{shot.html_url}") !{shot.title}
                    a.shot-author(href="#{shot.user.html_url}") !{shot.user.name}
                    hr.shot-divvy
                    div.shot-views 
                        img(src="http://alleyooop.info/icon-views-sm.png", style="margin-right:5px;width:15px;").shot-views-icon
                        | #{shot.views_count} Views
                    div.shot-likes
                        img(src="http://alleyooop.info/icon-hearts.png").shot-likes-icon
                        | #{shot.likes_count} Likes
    div.footer(style="text-align:center;color:#aaa;font-size:0.8em;padding:2em;border-top:1px solid #ddd;")
      | Cooked up by <a href="http://teamjosh.co" style="color:#2497EE;">Team Josh</a> at <a href="http://alleyooop.info">Alleyooop.info</a>.
